terraform {
  backend "oci" {
    bucket                      = "<Bucket>"
    namespace                   = "<Namespace>"
    key                         = "<Key/PathOnBucket>"
    region                      = "<Region>"
  }
}
